@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron" style="margin-top: 30px">
    <h1>SGH</h1>
    <p class="lead">Sistema Gestión Hospitalario</p>

    @*<button class="btn btn-link">Cancelar</button>
    <button class="btn btn-default">Continuar</button>
    <button class="btn btn-primary">Acceder</button>*@
</div>