@font-face {
    font-family: 'Body-Grotesque-Fit-Bold-trial';
    src: url('../fonts/Body-Grotesque-Fit-Bold-trial.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo{
    font-family:Body-Grotesque-Fit-Bold-trial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 3.5rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contenedor {
    margin-left: 25px;
    margin-right: 25px;
}

.cuerpo-contenedor {
    margin-top:75px;
}

.form-group {
    display: flex;
    align-items: center;
}

#footer {
    text-align: center;
}

.wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 50px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.encabezado-login {
    text-align: center;
    margin-bottom: 30px;
}

.login-logo {
    color: #446e9b;
    font-size: 5rem;
}

.ocupar-todo{
    max-width: none !important;
}