
@{
    ViewBag.Title = "AccessDenied";
}

<h2>AccessDenied</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso denegado</title>
</head>
<body>
    <div>
        <h1>Acceso denegado</h1>
    </div>
</body>
</html>