@model IEnumerable<CS_HOSPITALARIO.Models.CLIENTE>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
    </tr>
}

@*@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var url = '/admision/popup';
            $.get(url, function (data) {
                $('#myModal').html(data);
                $('#myModal').modal('show');
            });
        });
    </script>
}*@