@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="~/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="~/icono-ah.ico" />
    <title>Etiqueta De Laboratorio</title>
    @Html.DevExpress().GetStyleSheets(
                                                                     new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                                                     new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
                                                                     new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
                                                                 )
    @Html.DevExpress().GetScripts(
                                                                     new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                                                     new Script { ExtensionSuite = ExtensionSuite.Report },
                                                                     new Script { ExtensionSuite = ExtensionSuite.GridView }
                                                                 )
</head>
<body>
    <div style="width:1500px;padding-left:50px">
        @Html.DevExpress().WebDocumentViewer(settings =>
                                           {
                                               settings.Name = "FormartoEtiquetaLaboratorio";
                                           }).Bind(Model).GetHtml()
    </div>
</body>
</html>